 @media (min-width: 980px) {
       
        body {
          padding-top: 60px;
        }
      } 

        #map {
 max-width: none;
 min-width: 0px;
 height: auto;
}

  .info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
      .btn-disabled {
        background-color: hsl(198, 0%, 94%) !important;
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#efefef", endColorstr="#efefef");
        background-image: -khtml-gradient(linear, left top, left bottom, from(#efefef), to(#efefef));
        background-image: -moz-linear-gradient(top, #efefef, #efefef);
        background-image: -ms-linear-gradient(top, #efefef, #efefef);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #efefef), color-stop(100%, #efefef));
        background-image: -webkit-linear-gradient(top, #efefef, #efefef);
        background-image: -o-linear-gradient(top, #efefef, #efefef);
        background-image: linear-gradient(#efefef, #efefef);
        border-color: #efefef #efefef hsl(198, 0%, 94%);
        color: #ddd !important;
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.00);
        -webkit-font-smoothing: antialiased;
      }